seaborn==0.12.0
transformers==4.22.2
albumentations==1.3.0
opencv-python==4.5.5.64
opencv-python-headless==4.5.5.64
scikit-learn==1.1.3
einops==0.4.1
timm==0.6.12
merlin-dataloader==0.0.2
numerize
nb_black
tensorflow
onnx_tf
tflite-runtime==2.9.1
tf2onnx
tensorflow_probability
onnxruntime
